<!DOCTYPE html>
<!-- MusicPlayer.html -->
<html>
<head>
<meta charset="utf-8">
<script src="jquery-3.5.1.min.js"></script>
<script src="vue.js"></script>

<link rel="stylesheet" href="MusicPlayer.css">

<script type="text/x-template" id="track-tree-template">
<li>
  <div class="inline-shape"
    v-bind:class="{ 'include-all-shape': itself.inclusionDisplay == 'all', 'include-some-shape': itself.inclusionDisplay == 'some', 'include-none-shape': itself.inclusionDisplay == 'none' }"
  ></div>
  <button @click="toggleExpanded">
    <strong>{{ itself.name }}</strong>
    <span>[{{ itself.expanded ? 'v' : '>' }}]</span>
  </button>
  <button
    :class="{ included: itself.includedToggle, excluded: !itself.includedToggle }"
    @click="toggleInclusion"
  >
    <div class="sub-button" v-bind:class="{ otherized: !itself.includedToggle }">
      <span>✔️</span>
    </div>
    <div class="sub-button" v-bind:class="{ otherized: itself.includedToggle }">
      <span>❌</span>
    </div>
    <!-- {{ itself.includedToggle ? '✔️' : '❌' }} -->
  </button>
  <!-- <span>{{ itself.inclusionResult ? 'included' : 'excluded' }}</span> -->
  <ul v-if="itself.expanded && itself.dirArray.length > 0">
    <track-tree
      v-for="dir in itself.dirArray"
      :itself="dir"
      :key="dir.name"
    ></track-tree>
  </ul>
  <ul v-if="itself.expanded && itself.trackArray.length > 0">
    <li
      v-for="track in itself.trackArray"
      class="track"
      v-bind:class="{ 'included-track': track.inclusionResult, 'excluded-track': !track.inclusionResult }"
    >
      <span>{{ track.name }}</span>
      <!-- <span>{{ track.inclusionResult }}</span> -->
    </li>
  </ul>
</li>
</script>

<script src="MusicPlayer.js"></script>
</head>
<body>

<div id="app">
  <div>
    <input 
      id="folder-input" 
      type="file" 
      v-on:change="openFolder"
      webkitdirectory directory multiple>
    <audio id="the-player" controls></audio>
  </div>
  <div class="track-tree-root">
    <track-tree
      :itself="library"
      :key="library.name"
    ></track-tree>
  </div>
</div>

</body>
</html>
