<!DOCTYPE html>
<!-- MusicPlayer.html -->
<html>
<head>
<meta charset="utf-8">
<script src="jquery-3.5.1.min.js"></script>
<script src="vue.js"></script>

<script type="text/x-template" id="track-tree-template">
<li>
  <p>{{ name }}</p>
  <ul v-if="dirArray.length > 0">
    <track-tree
      v-for="dir in dirArray"
      :name="dir.name"
      :key="dir.name"
      :dir-array="dir.dirArray"
      :track-array="dir.trackArray"
    ></track-tree>
  </ul>
  <ul v-if="trackArray.length > 0">
    <li v-for="track in trackArray">
      <p>{{ track.name }}</p>
    </li>
  </ul>
</li>
</script>

<script src="MusicPlayer.js"></script>
</head>
<body>

<div id="app">
  <div>
    <input 
      id="folder-input" 
      type="file" 
      v-on:change="openFolder"
      webkitdirectory directory multiple>
    <audio id="the-player" controls></audio>
  </div>
  <div>
    <track-tree
      :name="library.name"
      :key="library.name"
      :dir-array="library.dirArray"
      :track-array="library.trackArray"
    ></track-tree>
  </div>
</div>

</body>
</html>
