:root {
  --inclusion-sphere-diameter: 0.6rem;
}

.track {
  border: 0;
}

.included-track {
  color: black;
  background-color: white;
}

.excluded-track {
  color: darkgray;
  background-color: lightgray;
}

.track-tree-root {
  border: 3px dashed teal;
}

.sub-button {
  display: inline-block;
}

.otherized {
  transform: scale(0.6);
}

li {
  list-style: none;
}

.inline-shape {
  display: inline-block;
  height: var(--inclusion-sphere-diameter);
  width: var(--inclusion-sphere-diameter);
  border-radius: var(--inclusion-sphere-diameter);
  border: 0.3rem solid black;
  vertical-align: middle;
}

.include-all-shape {
  background-color: black;
}

.include-some-shape {
  background-color: gray;
}

.include-none-shape {
  background-color: white;
}
